<md-toolbar class="primary">
    <span>#tictactoe</span>

    <!-- This fills the remaining space of the current row -->
    <span class="md-fill"></span>
    <form [hidden]="isUserSet" (ngSubmit)="setUser()" #appForm="ngForm">
    <md-input name="userName" type="text" [(ngModel)]="gameView.currentGame.me" placeholder="name" align="start">
        <!--<span md-prefix>$&nbsp;</span>-->
        <!--<span md-suffix>.00</span>-->
    </md-input>
    <button md-raised-button [hidden]="isUserSet">Go</button>
    </form>
    <form [hidden]="!isUserSet">
        <button md-button (click)="start.open()"><i class="material-icons">add_circle_outline</i></button>
        <span><i class="material-icons">account_circle</i> {{ gameView.currentGame.me }}</span>
    </form>
</md-toolbar>
  <md-sidenav-layout>
    <md-sidenav #start (open)="mybutton.focus()">
      Start Sidenav.
      <br>
      <button md-button #mybutton (click)="start.close()">Close</button>
    </md-sidenav>
    <md-sidenav #end align="end">
      End Sidenav.
      <button md-button (click)="end.close()">Close</button>
    </md-sidenav>
  </md-sidenav-layout>
<tictactoe-game id="maindrawing">
</tictactoe-game>
